
@import url('https://fonts.googleapis.com/css2?family=Balthazar&display=swap');



html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #D9D9D9;
}

p {
  font-size: 1.6rem;
}

small {
  font-size: 1.2rem;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: #1D1D1D;
  color: #FFF;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 5px;
  padding: 0px 20px;
  font-size: 1.2em;
  height: 50px;
}

.app-title {
  display: flex;
  align-self: flex-start;
  padding-top: 0px;
  font-family: 'Balthazar', serif;
  font-size: 20px;
}

.header-buttons {
  display: flex;
  align-self: flex-end;
  justify-content: space-around;
  padding: 0px;
  margin: 0px;
  margin-left: auto;
  font-size: 3px;
  
  
}

.header-button {
  color: #ccc;
  background-color: transparent;
  border: none;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
}

.tile-grid {
  display: flex;
}
.tiles-left {
  display: flex;
  flex-direction: column;
}

.tiles-right {
  display: flex;
  flex-direction: column;
}

.tileImage {
  height: 120px;
  width: 120px;
  margin: 5px;
}

/* for roulette wheel display */
.wheel-tile-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
  
}

.wheel-tiles-left {
  display: flex;
  flex-direction: row;
  
}
.wheel-tiles-right {
  display: flex;
  flex-direction: row;
  
}

.go-button {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  
}

.go-button  .go-button-button {
  transition-duration: 0.3s;
  
  height: 110px;
  width: 110px;
  color:#A5D6A7;
  background: transparent;
  border: 2px solid #A5D6A7;
  border-radius: 50%;
  font-size: 25px;
  padding: 10px;
}

.go-button-disabled {
  visibility: hidden;
  background-color: #EF9E9A;
  transition-duration: 0.2s;
}

.go-button-button:hover {
  background-color: #A5D6A7; /* Green */
  color: #1D1D1D;
}

.go-button-button:active {
  background-color: #A5D6A7;
  /* box-shadow: 0 5px #EF9E9A; */
  transform: translateY(4px);
}

.container {
  margin: 0 auto;
  max-width:1000px;
  padding: 40px;
}

.title {
  font-size: 4.4rem;
  text-align: center
}

.form {
  display:grid;
  margin-bottom: 0px;
  
}

.label {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
}

.search-bar {
  display: inline-flex;
  flex: 1 1 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 15px;  
  /* position: relative; */

}

.input {
  display: flex;;
  flex: 1;
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  line-height: 2.8rem;
  /* border-radius: 20px; */
  border: 1px solid #ddd;
  margin-bottom: 1rem auto;
  width: 80%;
  border-right: 0px;
}

.search-button {
  /* position: absolute;
  position: top-right;
  z-index: 1;
  background-color: rgba(0,0,0,0.75);
  color: white;
  padding: 1rem 2rem;
  border: 1px solid rgba(0,0,0,0.75);
  /* border-radius: 20px; */
  /* font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 250ms; */ 
  border: 0px;
  background: white;
}

.button:hover {
  background-color: rgba(0,0,0,0.85);
}



@media (min-width:786px){
  .card-list {
      grid-template-columns: auto 1fr auto;
      grid-gap: 1rem;
      align-items: center;
      
      
  }
  
  .input {
     
      margin-bottom: 0;
  }

  .tiles-left {
    display: flex;
    flex-direction: row;
  }
  
  .tiles-right {
    display: flex;
    flex-direction: row;
  }
}

.card-list {

  margin-top: 1rem;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 50px;

  max-width: 60rem;
  margin: 0 auto;
}

.card {
  display: flex;
  
  padding: 2rem 2rem;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
  margin-bottom: 2rem;
  background-color:#1D1D1D;
  min-height: 200px;
  max-height: 200px;
  overflow: hidden;
  
}

@media only screen 
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  {
    
    .tileImage {
      height: 90px;
      width: 90px;
      margin: 3px;
    }
  }

.card--title {
  display: flex;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.card--desc {
  /* need to work this out */
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 20px;
  
  font-size: 10px;
  
}

.history--card--desc {
  
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.date {
  font-size: 1.2rem;
  margin-top: 3px;
  margin-bottom: 1px;
}

.card--details {
  font-size: 8px;
}

.card--image {
  display: flex;
  margin-right: 15px;
  display: block;
  max-height: 125px;
  max-width: 125px;
}
.card--title {
  margin-top: 0px;
}

/* GET THIS TOO WRAP AROUND BUTTON */
.title-button, .spin-button {
  display: flex;
  align-self: flex-end;
  margin-left: auto;
  color:#A5D6A7;
  background: transparent;
  border: 2px solid #A5D6A7;
  border-radius: 5px;
  font-size: 15px;
  transition-duration: 0.4s;
}

.history-button {
  display: flex;
  align-self: flex-end;
  margin-left: auto;
  text-decoration: none;
}

.history-card-list {
  max-width: 60rem;
  margin: 0 auto;
  
}

.title-button-disabled {
  display: flex;
  align-self: flex-end;
  margin-left: auto;
  color: #666666;
  background: #666666;
  border: 2px solid #666666;
  border-radius: 5px;
  font-size: 15px;
  cursor: not-allowed;
}

.title-button:hover , .spin-button:hover {
  background-color: #A5D6A7; /* Green */
  color: #1D1D1D; /* Green */
}

.title-button:active, .spin-button:active {
  background-color: #A5D6A7;

  /* box-shadow: 0 5px #EF9E; */
  transform: translateY(4px);
}

.spin-button {
  margin: 0 auto;
  font-size: 20px;
  padding-left: 70px;
  padding-right: 70px;
}

.footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  color: white;
  /* text-align: center; */
  /* background-color: #1D1D1D; */
  color: #FFF;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 10px;
  font-size: 1.2em;
  height: 50px;
}

.footer-buttons {
  display: flex;
  align-self: flex-end;
  justify-content: space-around;
  padding: 0px;
  margin: 0px;
  margin-left: auto;
  font-size: 3px;
}

.clear-button {
  color: #ccc;
  background-color: transparent;
  /* border: none; */
  margin: 5px;
  padding: 5px;
  font-size: 20px;
  color:#EF9E9A;
  background-color: #1D1D1D;
  border: 2px solid #EF9E9A;
  border-radius: 5px;
  font-size: 15px;
  width: 12em;
}

.clear-button:hover {
  background-color: #EF9E9A; /* Green */
  color: #1D1D1D; /* Green */
}

.clear-button:active {
  background-color: #EF9E9A;

  /* box-shadow: 0 5px #EF9E; */
  transform: translateY(4px);
}

.wheel {
 display: flex;
 justify-content: center;
}




.modal-outer {
  display: grid;
  background: hsla(0, 0%, 28%, 0.7);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  /*Hide this modal until we neeed it */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  z-index: 5;
}

.modal-outer img {
  width: 100%;
}

.modal-outer.open {
  opacity: 1;
  pointer-events: all;
  z-index: 5;
}

.modal-inner {
  background: #1D1D1D;
  color: #D9D9D9;
  max-width: 600px;
  min-width: 400px;
  padding: 2rem;
  border-radius: 5px;
  min-height: 200px;
  margin-bottom: 100px;
  text-align: center;
  /* Optional animation below this point */
  transform: translateY(-200%);
  transition: transform 2s;
  z-index: 5;
}

/* optional animation as per above */
.modal-outer.open .modal-inner {
  transform: translateY(0);
}

@media only screen 
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  {


  .modal-inner {
      max-width: 100px;
      min-width: 300px;
      padding: 10px;
    }

    .history--card--desc {
      display: inline-block;
      font-size: 10px;
      margin-top: 0px;
      margin-bottom: 2px;
      margin-right: 10px;
    }
  }
